<!DOCTYPE html>
<html>
  <head>
    <title>Toysy - Shop for unique toys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fb3edc4725.js" crossorigin="anonymous"></script>
      
    <meta property="og:title" content="Toysy" />
    <meta property='og:image' content="<%= src="https://media.giphy.com/media/MG8bCMDTAQZ1CUjxc5/giphy.gif" %>"/>
    <meta property="og:description"
      content="Toysy is a single-page full-stack clone of Esty.com, allowing users to browse, search for, purchase unique toys, and leave feedbacks."
    />
    <meta property="og:url"
      content="https://fsp-toysy.herokuapp.com"
    />


    <% if current_user %>
       <script>
          window.currentUser = {
             "id": <%= current_user.id %>,
             "fname": "<%= current_user.fname %>",
             "email": "<%= current_user.email %>",
             "cart_id": "<%= current_user.cart.id %>"
          }; 
       </script>
    <% end %>

  <script type="text/javascript">
    window.searchBarIcon = "<%= image_url("search.png") %>"
    window.visaIcon = "<%= image_url("visa.png") %>"
    window.aeIcon = "<%= image_url("ae.png") %>"
    window.paypalIcon = "<%= image_url("paypal.png") %>"
    window.bitcoinIcon = "<%= image_url("bitcoin.png") %>"
    window.shopIcon = "<%= image_url("shops.png") %>"
    
  </script>

  

  </head>

  <body>
    <%= yield %>
  </body>
</html>
